.field-type-eatlas-map-field .edit-map-field-textarea-geo-json,
.field-type-eatlas-map-field .edit-map-field-textarea-image-blob,
.field-type-eatlas-map-field .grippie {
	display: none;
}

.field-type-eatlas-map-field.field-widget-eatlas-map-field-editable-map {
	position: relative;
}

.field-type-eatlas-map-field #eatlas-map-field-map-export {
	position: absolute;
	width: 100%;
	height: 500px;
	left: -3000px;
}

#eatlas-map-field-map, #eatlas-map-field-map-disable {
	height: 500px;
	width: 100%;
}

#eatlas-map-field-map-disable, #eatlas-map-field-edit-overlay {
	background: rgba(0,0,0,0.7);
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 500px;
}

#eatlas-map-field-edit-overlay {
	display: flex;
	justify-content: center;
	align-items: center;
}

#eatlas-map-field-map-enable-button-wrapper {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#eatlas-map-field-map-enable-button-wrapper button {
	width: auto;
	padding: 5px;
}

.field-type-eatlas-map-field .edit-map-field-select-map-conf-wrapper {
	position: absolute;
	top: 10px;
	right: 100px;
}

#eatlas-map-field-map .geometry-type {
	position: absolute;
	top: 10px;
	right: 10px;
}


#eatlas-map-field-edit-container {
	background: #FFFFFF;
	height: auto;
	width: 200px;
	text-align: center;
	padding: 5px;
}

#eatlas-map-field-edit-container input {
	margin: 5px;
}

#eatlas-map-field-edit-container button {
	margin: 8px 5px;
}

#eatlas-map-field-map .edit-keywords {
	bottom: .5em;
	left: .5em;
	display: none;
}

#eatlas-map-field-map .edit-keywords button {
	width: auto;
	padding: 5px;
}

#eatlas-map-field-map .download-kml {
	bottom: .5em;
	right: 3.5em;
}

#eatlas-map-field-map .download-kml button {
	width: auto;
	padding: 5px;
}