.field-type-eatlas-map-field .edit-map-field-textarea-geoJson,
.field-type-eatlas-map-field .edit-map-field-textarea-imageBlob,
.field-type-eatlas-map-field .grippie {
	display: none;
}

.field-type-eatlas-map-field #eatlas-map-field-map-export {
	position: absolute;
	width: 100%;
	height: 500px;
	left: -3000px;
}

#field-overview-map-add-more-wrapper {
	position: relative;
}

#eatlas-map-field-map, #eatlas-map-field-map-disable {
	height: 500px;
	width: 100%;
}

#eatlas-map-field-map-disable, #eatlas-map-field-edit-keywords-overlay {
	background: rgba(0,0,0,0.7);
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 500px;
}

#eatlas-map-field-map-enable-button-wrapper {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#eatlas-map-field-map-enable-button-wrapper button {
	width: auto;
	padding: 5px;
}

#eatlas-map-field-map .edit-keywords {
	bottom: .5em;
	left: .5em;
	display: none;
}

#eatlas-map-field-map .edit-keywords button {
	width: auto;
	padding: 5px;
}

#eatlas-map-field-edit-keywords-overlay {
	display: flex;
	justify-content: center;
	align-items: center;
}

#eatlas-map-field-edit-keywords-container {
	background: #FFFFFF;
	height: auto;
	width: 200px;
	text-align: center;
	padding: 5px;
}

#eatlas-map-field-map .download-kml {
	bottom: .5em;
	right: 3.5em;
}

#eatlas-map-field-map .download-kml button {
	width: auto;
	padding: 5px;
}

#eatlas-map-field-edit-keywords-container input,
#eatlas-map-field-edit-keywords-container button {
	margin: 5px;
}