.field-type-eatlas-map-field {
  border: 1px solid #CCC;
}

.field-type-eatlas-map-field .form-item {
  padding: 0 0.6em
}

.field-type-eatlas-map-field .edit-map-field-textarea-geo-json,
.field-type-eatlas-map-field .edit-map-field-textarea-image-blob,
.field-type-eatlas-map-field .edit-map-field-textarea-custom-map-configuration,
.field-type-eatlas-map-field .edit-map-field-input-help-text,
.field-type-eatlas-map-field .grippie {
  display: none;
}

.field-type-eatlas-map-field fieldset.collapsible {
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}

.field-type-eatlas-map-field.field-widget-eatlas-map-field-editable-map {
  position: relative;
}

.field-type-eatlas-map-field #eatlas-map-field-map-export {
  position: absolute;
  left: -3000px;
  top: -3000px;
}

#eatlas-map-field-map {
  position: relative;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
}

#eatlas-map-field-edit-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#eatlas-map-field-map-enable-button-wrapper {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#eatlas-map-field-map-enable-button-wrapper button {
  width: auto;
  padding: 5px;
}

.field-type-eatlas-map-field .edit-map-field-controls-container {
  position: absolute;
  display: flex;
  margin: 0 .25em;
  font: 400 13px Arial;
}

.field-type-eatlas-map-field .edit-map-field-controls-container.interaction {
  top: 10px;
  left: 40px;
}

.field-type-eatlas-map-field .edit-map-field-controls-container.map-configuration {
  top: 10px;
  right: 0;
}

.field-type-eatlas-map-field .edit-map-field-controls-container > div {
  margin: 0 .25em;
}

.field-type-eatlas-map-field input[type='checkbox'] {
  vertical-align: middle;
  position: relative;
  bottom: 2px;
}

.field-type-eatlas-map-field .edit-map-field-custom-map-configuration-wrapper {
  display: flex;
  order: 1;
  padding-top: 4px;
}

.field-type-eatlas-map-field .edit-map-field-custom-map-configuration-wrapper label {
  font-weight: normal;
}

.field-type-eatlas-map-field .edit-map-field-select-map-conf-wrapper {
  position: relative;
  order: 2;
}

.field-type-eatlas-map-field .edit-map-field-select-keyword-group-wrapper {
  position: relative;
  order: 3;
}

#eatlas-map-field-map .geometry-type {
  position: relative;
  order: 1;
}

#eatlas-map-field-edit-container {
  background: #FFFFFF;
  height: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

#eatlas-map-field-edit-container h2 {
  margin: 0 5px 5px;
}

#eatlas-map-field-edit-container .eatlas-map-field-edit-field-container {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
}

#eatlas-map-field-edit-container .eatlas-map-field-edit-field-container.buttons {
  flex-direction: row-reverse;
  margin-bottom: 0;
}

#eatlas-map-field-edit-container .eatlas-map-field-edit-input-wrapper {
  display: flex;
  flex-direction: row;
  margin: 3px 0 2px;
}

#eatlas-map-field-edit-container label,
#eatlas-map-field-edit-container input,
#eatlas-map-field-edit-container select {
  margin: 5px;
}

#eatlas-map-field-edit-container p {
  margin: 5px;
  font-size: 0.9em;
}

#eatlas-map-field-edit-container .eatlas-map-field-edit-input-wrapper label {
  font-size: 0.9em;
  line-height: 1.2em;
  margin: 0 5px;
}

#eatlas-map-field-edit-container .eatlas-map-field-edit-input-wrapper label span.info {
  font-size: 0.9em;
  font-weight: normal;
  color: #666;
}

#eatlas-map-field-edit-container .eatlas-map-field-edit-input-wrapper label span.more-info {
  font-weight: bold;
}

#eatlas-map-field-edit-container button {
  margin: 5px;
  width: 120px;
}

#eatlas-map-field-map .edit-properties {
  bottom: .5em;
  left: .5em;
  display: none;
}

#eatlas-map-field-map .edit-properties button {
  width: auto;
  padding: 5px;
}

#eatlas-map-field-map .download-kml {
  bottom: .5em;
  right: .5em;
}

#eatlas-map-field-map .download-kml button {
  width: auto;
  padding: 5px;
}

#eatlas-map-field-map .ol-overlaycontainer-stopevent .ol-attribution {
  display: none;
}
